html, body{
    height: 100%;
}


div {
    background-color: rgb(160, 65, 65);
    width: 100%;
    height: 200px;
}

body {
    /*background-image: url("../Immagini/fulmine.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 0;  /*fa rimpire a tutti i div la pagina in orizzontale*/
}

footer {
    width: 100%;
    background-color: khaki;
    text-align: center;
    bottom: 0;
    position: relative;
}

header{
    width: 100%;
    color: black; /*colora le scritte nell header*/
    background-color: rgb(142, 64, 64);  /*colora lo sfondo dell header*/
}

.logo{
    color: black;
    font-size: 30px;
}

nav{
    background-color: rgb(142, 64, 64);
    text-align: right;  /*posiziona le screttie nel nav*/
    width: 100%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a{
    text-decoration: none;  /*toglie la sottolineatura dei link*/
    color: white;           /*colore delle scritte*/   
    padding: 10px;  /*modifica lo spazio tra le parole nel nav*/
}

nav li:hover{
    background-color: rgb(206, 100, 100);   /*colore che si accende quando passiamo sopra i link*/
}

nav li{
    display: inline-block;
    padding: 15px;
}