div {
    width: 90%;
    background-color: indianred;
    margin-right: 5%;
    margin-left: 5%;
}

li {
    padding: 8px;
    margin: 2px;
    color: white;
    background-color: rgba(192,65,56,1.0);
}
body {
    background-image: url("../Immagini/fulmine.jpg");
}
#footer {
    text-align:center;
}