div {
    width: 90%;
    background-color: ivory;
    margin-right: 5%;
    margin-left: 5%;
}

li {
    width: 90%;
    padding: 4px;
    margin: 2px;
    color: black;
    background-color: lightsteelblue;
    margin-right: 5%;
    margin-left: 5%;
}
body {
    background-image: url("../Immagini/fulmine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#footer {
    text-align:center;
}