/* --------------------------- TESTI --------------------------*/
.testoBase {
  font-family: verdana;
  color: black;
  font-size: 16px;
}

.testoTitolo {
  font-family: Open, sans-serif;
  color: rgb(45, 41, 41);
  font-size: 20px;
  font-weight: bold;
}

/* --------------------------- DIV --------------------------*/
.DataDiv {
  background-color: #cda881;
  text-align: center;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  width: 40%;
  height: auto;
}

/* --------------------------- INPUT --------------------------*/
input[type="text"],
input[type="email"],
input[type="Password"],
input[type="submit"] {
  width: 100%;
  padding: 15px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fffafa;
  font-size: 15px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="Password"]:hover,
input[type="submit"]:hover {
  background-color: #ebdfdf;
}

input[type="submit"] {
  width: 100%;
  background-color: white;
  color: rgb(112, 111, 111);
  padding: 8px 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  float: right;
}

/* --------------------------- ICONE --------------------------*/
.icone{
  font-size: 40px;
  color: whitesmoke
}

/* --------------------------- IMMAGINI PRODOTTI --------------------------*/
.immagini{
  width: auto;
  height: 50px;
}

