body {
  font-family: sans-serif;
  background-image: url("../images/programming2.jpg");
  background-size: cover;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.errorTesto {
  color: #750a0a;
  font-size: 18px;
  font-weight: bold;
}
.confirmTesto {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.ErrorDiv {
  border: 5px outset #b61111;
  background-color: rgb(229, 186, 186);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 35%;
}
.confirmDiv {
  border: 5px outset #116da6;
  background-color: lightblue;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  position: absolute;
  top: 30%;
  left: 30%;
}
